* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


.wrapper {
    display: flex;
    justify-content: center;
    margin: 10rem;
    height: 500px;
    width: 500px;
    background-color: rgb(202, 240, 240);
}


.f {
    font-size: 25rem;
    position: absolute;
    color: black;


}

.wild {
    position: relative;
    left: 10rem;
    top: 8rem;
    color: yellow;
    font-size: 3rem;

}

.flower {
    position: relative;
    left: -1rem;
    top: 25rem;
    color: red;
    font-size: 3rem;

}