*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #D5E1FF; */
}

.wrapperTwo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem ;
    /* align-items: center; */
}

.biography-content a{
color: blue;
}

.name, .headingOne{
    margin: 0.5rem 0rem;
}